<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="customerName" value="tester" />
	<parameter name="customerDescription" value="Useful for Organization" />
	<parameter name="username" value="tvignesh2019@gmail.com" />
	<parameter name="password" value="X4PJE4b@" />
	<parameter name="projectName" value="E-commerce" />
	<parameter name="projectDescription" value="Useful for customers to buy a prodcut" />
	<parameter name="newcustomerName" value="Developer" />
	<parameter name="clickcheckBox" value="Test flight" />
	 <listeners>
		<listener class-name="Project.Actitime.Listeners"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="Project.Actitime.CreatingTasks"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->